@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body, .navbar-light{
    background: #C9DDFF; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #dcb3ff, #c9ddff);
    background: -moz-linear-gradient(right,  #dcb3ff, #C9DDFF);
    background: -o-linear-gradient(right, #dcb3ff, #C9DDFF);
    background: linear-gradient(to left,  #dcb3ff, #C9DDFF);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.btn {
    background-color: #b07aff!important;
    border-color: #b07aff!important;
}

.active-purple-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #ce93d8;
    box-shadow: 0 0 0 1px #ce93d8;
}

html,
body {
    height: 100%;
}

.btn, label{
    font-size: 15px;
    margin-bottom: 0rem;
}

a, a:hover {
    color: black;
    font-weight: 600;
}

.competence {
    width: 300%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}

.container-fluid {
    padding-left: 40px;
}

.table td{
    padding: 0.0em;
    vertical-align: unset;
    width: 75%;
}

ul {
    margin: 0;
    padding: 0;
}

.my-btn {
    width: 32%;
    margin-bottom: 1em;
}

.my-table td{
    width: auto;
    text-align: center;
}

.form-inline {
    margin-bottom: 1.5%;
}

.card-body {
    text-align: center;
}